@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.Menu{
    width: 20%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
h2{
    font-family: 'PT Sans', sans-serif;
}
p{
    color: white;
    line-height: 2;
    display: flex;
    align-items: center;
    cursor: pointer;
}
button{
    background-color: black;
    color: white;
    border: none;
}
.list{
    margin: 10%;
}
